.content_row{
	display: flex;
}

.content_col{
	display: flex;
	flex-direction: column;
}

.hj_input {
	border: 2px #9b9b9b solid;
	border-radius: 2px;
	height: 40px;
	width: 100%;
	padding: 1px 8px;
	margin: 10px 0;
	font-size: 15px;
}

.hj_input:focus {
	outline: none;
	border-color: #719ECE;
	box-shadow: 1px 1px 20px #cce6ff;
}

.hj_button {
	width: 100%;
	margin: auto;
	margin-top: 10px;
	border-radius: 1;
	height: 43px !important;
}

.hj_input::placeholder {
	font-size: 12px;
}

.error_alert {
	color: red;
	float: right;
	font-size: 13px;
}

li {
	list-style-type: none;
}

hr {
	margin: 10px 0;
}