
.content_wrap {
	margin: 10px;
	width: 100%;
	display: flex;
}

.preview_wrap {
	display: flex;
	flex-direction: row;
	outline: 1px black solid;
}

.preview_list_wrap {
	margin-top: 100px;
	width: 50px;
	height: 720px;
	margin-right: 20px;
}

.preview_list {
	margin-bottom: 20px;
}

.big_preview_wrap {
	outline: 1px black solid;
}

.big_preview{
}

.info_wrap {
	justify-content: center;
	display: flex;
	flex-direction: column;
	outline: 2px blue solid;
	margin-left: 70px;
	width: 100%;
	height: 850px;
	padding: 10px;
}

.input_wrap{
	/* outline: 1px purple solid; */
	display: flex;
	flex-direction: column;
	margin: 20px 0;
	margin-bottom: 30px;
}


.hj_input {
	border: 2px #999999 solid;
	border-radius: 5px;
	height: 50px;
	width: 100%;
	padding: 1px 8px;
	margin: 10px 0;
	margin-right: 20px;
}

.hj_input:focus {
	outline: none !important;
	border-color: #719ECE;
	box-shadow: 1px 1px 20px #cce6ff;
}

.category_wrap{
	/* outline: 1px black solid; */
	margin-bottom: 20px;
	display: flex;
}

.colors_wrap{
	display: flex;
	flex-direction: row;
	width: 100%;
	/* outline: 1px red solid; */
}

.color_box{
	width: 40px;
	height: 40px;
	margin: 11px;
	/* border: 1px black solid; */
	border-radius: 10px;
	opacity: 0.8;
}

.color_box:hover{
	/* border: 4px black solid; */
	/* outline: 5px black solid; */
	box-shadow: 1px 1px 10px #077deb;
}

.content_row{
	display: flex;
}

.content_column{
	display: flex;
	flex-direction: column;
}
