
.content_wrap {
	margin: 10px;
	width: 100%;
	display: flex;
}

.preview_wrap {
	display: flex;
	flex-direction: row;
	height: 750px;
}

.preview_list_wrap {
	margin-top: 100px;
	width: 50px;
	height: 700px;
	margin-right: 20px;
}

.preview_list {
	margin-bottom: 20px;
}

.big_preview_wrap {
}

.big_preview:visited {
	outline: 1px #9b9b9b solid;
}

.info_wrap {
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin-left: 70px;
	width: 100%;
	height: 750px;
	padding: 10px;
}

.input_wrap{
	/* outline: 1px purple solid; */
	display: flex;
	flex-direction: column;
	margin: 20px 0;
	margin-bottom: 30px;
}


.hj_input {
	border: 2px #9b9b9b solid;
	border-radius: 5px;
	height: 50px;
	width: 100%;
	padding: 1px 8px;
	margin: 10px 0;
	margin-right: 20px;
}

.hj_input:focus {
	outline: none !important;
	border-color: #719ECE;
	box-shadow: 1px 1px 20px #cce6ff;
}

.category_wrap{
	/* outline: 1px black solid; */
	margin-bottom: 20px;
	display: flex;
}

/* .color_box:hover {
	box-shadow: 1px 1px 10px #077deb;
} */

/* .color_box:visited {
	box-shadow: 1px 1px 10px #077deb;
} */

.content_row{
	display: flex;
}

.content_col{
	display: flex;
	flex-direction: column;
}

.size_chart_wrap{
	padding: 10px 90px;
}
table, th, td{
	border:1px #9b9b9b solid;
	text-align: center;
	border-collapse: collapse;
	font-size: 13px;
}

.table_wrap{
	outline: 1px black solid;
	width: 100%;
	margin-right: 40px
}
table{
	width: 100%;
}

thead {
	border-bottom: 2px black solid;
}

th, td {
	height: 40px;
	width: 30%;
	text-align: center;
}

th{
	width: 10% !important;
}

.td_input{
	text-align: center;
}

.td_input:focus{
	outline: none;
}

.hj_check{
	margin: 0 auto;
}