.preview_wrap {
	display: flex;
	flex-direction: row;
}

.preview_list {
	margin-bottom: 20px;
}

.representation_preview_wrap {
	outline: 1px black solid;
}

.content_wrap {
	margin: 10px;
	display: flex;
	flex-direction: row;
}

.input_wrap {
	display: flex;
	flex-direction: column;
	outline: 1px red solid;
	margin-left: 20px;
	width: 100%;
}

.preview_list_wrap {
	width: 50px;
	outline: 1px black solid;
	margin-right: 20px;
}